a,a:hover
{
    color: black;
    text-decoration: none;
}
.list-group
{
    
    margin: 11px 10px;
    width: 15%;
    float:left;
}
.jobbsav
{
    margin: 10px;
     display: inline-block;
    float:right;
    width: 22%;
}
.egybe
{
    display: inline-block;
    width: 60%;
    float: left;
}
.card
{   
    margin: 5px;
}
.card-body
{   
    
    opacity: 0.8;
    /*border: 1px solid black;*/
}
.lablec
{
    width: 100%;
}
.list-group-item:hover
{
    opacity: 0.8;
}
.osszesitett
{ 
    display:inline-block;
    padding:0px 3px 0px 3px;
    margin: 1px 1px 1px 1px;
    border-radius:5px;
}
.hozzaszolas
{
    background-color: chocolate;
}
#latta{background-color: coral; border: 1px solid darkred;}
#valaszok{background-color: yellow; border:1px solid darkgoldenrod;}
#ertekeles{background-color: lightgreen;}
#felhasznalo{background-color: orange; border: 1px solid peru;}
#datum{background-color: lightgray; border: 1px solid darkgray;}
#kerdesszam{background-color: lightgray;}
#valaszszam{background-color: lightgray;}
#statisztikaszam{background-color: lightgray; border: 1px solid darkgray;}
#cimke{background-color: lightblue;border: 1px solid lightslategray;}
#kerdes{ background-color: lightcoral; border: 1px solid red;}
#valasz{background-color: lightseagreen; border: 1px solid blueviolet;}
#urescella{background-color: lightgray; color: grey;border:1px solid darkgray;border-style:dashed;width:150px;text-align: center;}
#hasznos{
  background-color: lightgrey;
  border: 1px solid black;
  width:100%;
  height: 30px;
}
#nemhasznos{
   background-color: grey;
   border: 1px solid black;line-height:100%;
   background-color: grey;
   border: 1px solid black;
   line-height:100%;
   height: 30px; 
   width:100%;
}
#ertekelesszam{
   background-color: grey;
   border: 1px solid black;line-height:100%;
   width:100%;
   background-color: grey;
   border: 1px solid black;
   line-height:100%; 
   width:100%;
  }
#kerdesvalasz{
  margin-bottom:3px;background-color: lightblue; 
}
#kvbal{
  vertical-align:top;
  display:inline-block;
  padding:1%;
  width: 85%;
  /*background-color: beige;
  border-radius: 5px;
  border:1px solid black;*/
  
}
#kvjobb{
  display:inline-block;
  padding: 1%;
  width: 14%;
  background-color: #5F9EA0;
  border-radius: 5px; 
  border: 1px solid black;
  text-align: center;
}

@media screen and (max-width: 580px)
{
    .list-group
    {
        width: 100%;
        float: none;
    }
    .egybe
    {
        width: 100%;
        float: none;
    }
    .jobbsav
    {
        width: 100%;
        float: none;
    }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 60%;
  padding: 1% 0 0;
  margin: auto;
  float: left;
  display: inline-block;
}
.form {
  /*position: relative;*/
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
 /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
    border: 1px solid lightgray;
    border-radius: 5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


.comment-wrapper .panel-body {
    max-height:650px;
    margin: auto;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.text-form
{
    width: 90%;
    margin: auto;
}
