body{
  margin:auto;
}
#container{
  margin:auto;
  max-width:1200px;
}
a,a:hover
{
    color: black;
    text-decoration: none;
}
#profilbal{
  float:left;
  height:150px;
  width:150px;
  margin-right:1px;
  background-color:grey;
  border:1px solid black;
  display:inline-block;
}
#profiljobb{
  width:75%;display:inline-block;float:right;
}

.card
{margin: 5px;}
.card-body
{ opacity: 0.8;}
.list-group
{width: 100%;}
.list-group-item:hover
{opacity: 0.8;}
.osszesitett
{ 
    display:inline-block;
    padding:0px 3px 0px 3px;
    margin: 1px 1px 1px 1px;
    border-radius:5px;
}
.hozzaszolas{background-color: chocolate;}
#latta{background-color: coral; border: 1px solid darkred;}
#valaszok{background-color: yellow; border:1px solid darkgoldenrod;}
#ertekeles{background-color: lightgreen;}
#felhasznalo{background-color: orange; border: 1px solid peru;}
#datum{background-color: lightgray; border: 1px solid darkgray;}
#kerdesszam{background-color: lightgray;}
#valaszszam{background-color: lightgray;}
#statisztikaszam{background-color: lightgray; border: 1px solid darkgray;}
#cimke{background-color: lightblue;border: 1px solid lightslategray;}
#kerdes{ background-color: lightcoral; border: 1px solid red;}
#valasz{background-color: lightseagreen; border: 1px solid blueviolet;}
#urescella{background-color: lightgray; color: grey;border:1px solid darkgray;border-style:dashed;width:150px;text-align: center;}
#hasznos{
  background-color: lightgrey;
  border: 1px solid black;
  width:100%;
  height: 30px;
}
#nemhasznos{
   background-color: grey;
   border: 1px solid black;line-height:100%;
   background-color: grey;
   border: 1px solid black;
   line-height:100%;
   height: 30px; 
   width:100%;
}
#ertekelesszam{
   background-color: grey;
   border: 1px solid black;line-height:100%;
   width:100%;
   background-color: grey;
   border: 1px solid black;
   line-height:100%; 
   width:100%;
  }

#kerdesvalasz{
  padding:0px;min-height:100px;overflow:hidden;
}
#valaszbal{
  padding-top: 5px;
  min-height:100px;display:inline-block;max-width:65%;float:left;
}
#valaszjobb{
  display:inline-block;width:150px;min-height:100px;float:right;
}
#valaszjobbdoboz{
  background-color: darkgray;padding: 5px;border-radius: 5px; border: 1px solid black;float:right;width:80%;
}
#ertek{
  background-color: lightgray; border: 1px solid darkgray;width:100%;text-align:center;
}
#hasznos{
  width:100%;text-align:center;border:1px solid lightgray;
}
#nemhasznos{
  width:100%;text-align:center;border:1px solid lightgray;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
  width: 60%;
  padding: 1% 0 0;
  margin: auto;
  float: left;
  display: inline-block;
}
.form {
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .egybe{width: 100%;}
    #balsav{width: 100%;color:darkcyan;}
    #jobbsav{width: 100%;margin: auto;}

    #profilbal{width:125px;height:125px;}
    #profiljobb{width:65%;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .egybe{width: 100%;}
  #balsav{width: 100%;}
  #jobbsav{width: 100%;margin: auto;}

  #profilbal{width:150px;height:150px;margin-right:5px;}
  #profiljobb{width:70%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #balsav{width:100%;}
  #jobbsav{width: 26%;margin: 10px;display:inline-block;float:left;}
  .egybe{ margin-top: 10px;width: 70%;display: inline-block;float: left;}
  #profilbal{width:135px;height:135px;margin-right:5px;}
  #profiljobb{width:70%;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #balsav{width:15%;margin: 10px 10px;display:inline-block;float:left;}
  #jobbsav{width: 22%;margin: 10px;display:inline-block;float:left;}
  .egybe{ margin-top: 10px;width: 58%;display: inline-block;float: left;}
  #profilbal{width:150px;height:150px;margin-right:5px;}
  #profiljobb{width:68%;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #balsav{width:15%;margin: 10px 10px;display:inline-block;float:left;}
  #jobbsav{width: 22%;margin: 10px;display:inline-block;float:left;}
  .egybe{ margin-top: 10px;width: 58%;display: inline-block;float: left;}
}